      <div id="index" style="display:none;">
          <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            <div class="mdl-card__supporting-text">
              Intranet ID/Password
              <form id="authForm" method="POST" action="/token">
                <div class="mdl-textfield mdl-js-textfield" style="margin-right:2em;">
                  <input name=username class="mdl-textfield__input" type="text" id="signInEmail" />
                  <label class="mdl-textfield__label" for="signInEmail" id="oneTwo">Email</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <input name="password" class="mdl-textfield__input" type="password" id="signInPassword" />
                  <label class="mdl-textfield__label" for="signInPassword" id="twoTwo">Password</label>
                </div>
                <div class="demo-separator mdl-cell--1-col"></div>
                <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                        action="submit" style="" id="submitAuthForm">Sign In</button>
              </form>
            </div>
          </div>
      </div>
